<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buscard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusCard">
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".DriverPassengerDetails"
            android:exported="true" />
        <activity
            android:name=".DriverTravelDetails"
            android:exported="true" />
        <activity
            android:name=".BusDetails"
            android:exported="true" />
        <activity
            android:name=".TravelHistory"
            android:exported="true" />
        <activity
            android:name=".CardRecharge"
            android:exported="true" />
        <activity
            android:name=".AdminDashboard"
            android:exported="true" />
        <activity
            android:name=".DriverDashboard"
            android:exported="true" />
        <activity
            android:name=".AddBuses"
            android:exported="true" />
        <activity
            android:name=".PassengerDetails"
            android:exported="true" />
        <!--
<activity
            android:name=".PassengerDashboard"
            android:exported="true" />
        -->
        <activity
            android:name=".CardApply"
            android:exported="true" />
        <activity
            android:name=".PassengerDashboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>